// Colors
$color-default: #6ca898;
$color-danger: #e9667b;
$color-white: #ffffff;
$color-disable: #ccc;
$color-black: #000000;
$color-separator: #70707040;
$background-color-disable: #f6f6f6;

// System Defaults
$font-size: 16px;
$font-tile-size: 12px;

//margin
$margin-5: 5px;

$box-padding: 10px;
$box-margin: 15px;
$box-radius: 2px;
$box-border: 1px solid $color-default;
$box-border-highlight: 1px solid darken($color-default, 10%);
$box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

$margin-mob: 0 10px 55px;
$margin-tab: 0 50px 55px;
$margin-desk: 0 20% 55px;
$padding-tab: 10px;
$padding-mob: 30px;
$padding-tab: 40px;

// Question
$ques-font-size: 20px;
$ques-font-weight: bold;
$ques-color: rgba(0, 0, 0, 0.65);
$ques-padding: 10px;
$ques-padding-lg: 20px;
$ques-margin: 20px;
$ques-header-margin: 20px;
$ques-header-padding: 20px;
$ques-resp-padding: 0px;
$ques-option-padding: 20px 0px;
$ques-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
$ques-bg-color: rgba(255, 255, 255, 0.9);

$ques-error-height: 50px;
$ques-error-margin: 10px;

// Question Options
$ques-option-bg-color: lighten($color-default, 35%);
$ques-option-margin: 10px;
$ques-option-msg-font-size:14px;
$ques-option-list-margin-v: 45px;

$ques-block-margin: 50px 0;

//Response container
$response-input-width: 100%;

// Slider
$slider-height: 20px;
$slider-width: 330px;
$slider-knob: 32px;
$slider-radius: 10px;
$slider-knob-radius: 50%;

// Progress Bar
$progress-height: 10px;
$progress-color: rgba(0, 0, 0, 0.25);

// Icon
$icon-size: 32px;

// Input
$input-border: $box-border;
$input-height: 35px;
$input-padding: 10px;
$input-margin: 5px 10px;
$input-border-radius: $box-radius;
$input-label-margin: 10px;
$input-error-bg-color: #fff0f0;
$input-error-border-color: #a90329;

// Radio
$radio-size: 20px;
$radio-checked-size: $radio-size/2;
$radio-option-padding: 10px;
$radio-option-margin-h: 15px;
$radio-option-margin-v: 10px;

// Checkbox
$checkbox-check-width: 7px;
$checkbox-check-height: 15px;
$checkbox-check-size: 2px;

// Page
$page-margin: 20px;
$page-margin-lg: 15%;
$page-padding: 10px;
$page-margin-header: 10px;
$font-size-title: 1.25rem; //  20px (--16px)
$font-size-subtitle: 0.875rem; // 14px (--16px)
$page-items-width: 100%;

// Logo
$logo-margin: 30px;
$logo-width: 150px;
$logo-height: 90px;
$logo-width-lg: 300px;
$logo-height-lg: 100px;

// Transition
$transition-dur: 0.2s;
$transition-ease: linear;

//textarea
$textarea-border: 0;
$textarea-height: 35px;
$textarea-width: 100%;
$textarea-padding: 5px 0;
$textarea-margin: 10px;
$textarea-border-radius: $box-radius;
$textarea-focus-outline: none;
$textarea-msg-font-size: 12px;
$textarea-msg-padding: 15px;

// Tile
$tile-ribbon-color: #57575e;

//datepicker
$datepicker-box-shadow-bottom: -2px 1px 5px rgba(0, 0, 0, 0.3), 2px 2px 5px rgba(0, 0, 0, 0.3);
$datepicker-box-shadow-top: 2px 0px 5px rgba(0, 0, 0, 0.3), -2px 0px 5px rgba(0, 0, 0, 0.3);
$datepicker-week: lighten($color-default, 40%);
$datepicker-header-bg: lighten($color-default, 25%);
$datepicker-day: $color-white;
$datepicker-year: lighten($color-default, 5%);
$datepicker-day-padding: 10px 0px;
$datepicker-day-hover-bg: lighten($color-default, 25%);
$datepicker-day-selected-bg: $color-default;
$datepicker-day-selected-color: $color-white;
$datepicker-day-month-color: $color-default;
$datepicker-hover-bg: lighten($color-disable, 15%);
$datepicker-week-color: #bbb;

//devices breakpoint for media queries
$desktop-breakpoint: 1025px;
$tablet-breakpoint: 641px;
$mobile-breakpoint: 640px;
//footer
$footer-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

//grid question
$grid-attr-cell-label-size: 18px;
$grid-attr-cell-label-color: #000000a6;

//progress-bar
$progressbar-height: 10px;
