<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      Responses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  *ngIf="showlistFlag">
    <ion-list>
      <ion-list-header>
        Good Responses
      </ion-list-header>

      <ion-item *ngFor="let resp of goodRespones">
        <ion-avatar slot="start">
          <img src="assets/avatar-m.png">
        </ion-avatar>
        <ion-label>
          <h2>{{resp.providerDetails.fname}}</h2>
          <h3>Rating : {{resp.responseDetails.primaryScore.value}}</h3>
          <p>Comments : {{resp.responseDetails.primaryComment.value}}</p>
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-list>
      <ion-list-header>
        Average Responses
      </ion-list-header>

      <ion-item *ngFor="let resp of avgRespones">
        <ion-avatar slot="start">
          <img src="assets/avatar-f.png">
        </ion-avatar>
        <ion-label>
          <h2>{{resp.providerDetails.fname}}</h2>
          <h3>Rating :{{resp.responseDetails.primaryScore.value}}</h3>
          <p>Comments : {{resp.responseDetails.primaryComment.value}}</p>
        </ion-label>
      </ion-item>

    </ion-list>
</ion-content>
