<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><img src="assets/smx-logo.svg" alt="smx_logo"> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  
  <form class="login-container">
    <header class="login-header" id="reset-header">
      <i class="icon-collectivetouchpoint-2"></i>
      <h1>Welcome</h1>
    </header>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row class="login-btn">
      <ion-col>
        <ion-button type="submit" class="loginbtn-color" [routerLink]="['/home']" expand="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>


</ion-content>