@import "../../scss/variables";
@import "../../scss/mixins";


ion-toolbar{
    // --background:rgba(0,0,0,0.9);
    color: white;
}

.container{
    
    .login-container {
        @include container-block();
        margin: 20vh 10px;
        padding: 40px 0px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 0px;
        .login-header{
            @include container-block();
            background-color: rgba(0, 0, 0, 0.9);
            color: white;
            padding: 0px;
            width: 100%;
            border-radius: 5px;
        }
        .login-btn{
            margin: 20px 0;
            width: 90%;
            .loginbtn-color{
                background-color: #71b9a5;
            }
        }
        ion-item {
            margin: 10px;
            width: 90%;
            border-radius: 5px;
        }
    }
    
}

ion-content {
    --background: url("/assets/bg-image.jpg") 0 0/100% 100% no-repeat;
    --background-size: cover;
}