<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      Share
    </ion-title>
  </ion-toolbar>     
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/emailC.jpg">
      </ion-thumbnail>
      <h2>Email</h2>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item (click)= "showText()">
      <ion-thumbnail item-start>
        <img src="assets/linkC.png">
      </ion-thumbnail>
      <h2>Web Link</h2>
    </ion-item>
    <ion-item *ngIf="isVisible">
      <textarea >http://www.satmetrix.com
      </textarea>    
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/embedc.png">
      </ion-thumbnail>
      <h2>Embed</h2>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/sharec.jpg">
      </ion-thumbnail>
      <h2>Share</h2>   
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/smsc.png">
      </ion-thumbnail>
      <h2>SMS</h2>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
</ion-content>
