<ion-header [translucent]="true">
  <ion-toolbar  *ngIf="isCreate">
    <ion-title>
      Create Survey
      <span class="action add-question-button">
        <button class="button" (click)="addQuestion()">+ Add Question</button>
      </span>
      <span class="action add-question-button">
        <button class="button" (click)="saveQuestion()">Save</button>
      </span>
    </ion-title>
  </ion-toolbar>
  
</ion-header>


<div class="container-questions" *ngIf="isCreate">
  <div class="question">
    <smx-recommend-question [questionMeta]="questions.tap" [translations]="translations" [idx]="1">
    </smx-recommend-question>
  </div>
  <div class="question">
    <smx-recommend-question [questionMeta]="questions.slider" [translations]="translations" [idx]="2">
    </smx-recommend-question>
  </div>
  <div class="question">
    <smx-comment-question [questionMeta]="questions.comment" [translations]="translations" [idx]="3" [type]="'COMMENT'">
    </smx-comment-question>
  </div>
  <div class="question">
    <smx-select-question [questionMeta]="questions.select" *ngIf="isSelectQuestion" [translations]="translations"
      [idx]="4"></smx-select-question>
  </div>
</div>

<div class="add-question-container question-container container-questions" *ngIf="!isCreate">
  <ion-list>
    <ion-item-sliding>
      <ion-item class="padding-5">
        <h2>Please select question type</h2>   <h1 class="close-list" (click)="closeList()">x</h1>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item class="question-type" (click)="addQuestionType()">
      <ion-thumbnail item-start>
        <img src="https://img.icons8.com/ios-filled/64/single-choice.png">
      </ion-thumbnail>
      <h2>Scale</h2>
    </ion-item>
    <ion-item class="question-type" (click)="addQuestionType()">
      <ion-thumbnail item-start>
        <img src="https://img.icons8.com/dotty/64/single-choice.png">
      </ion-thumbnail>
      <h2>Single Select</h2>
    </ion-item>
    <ion-item class="question-type">
      <input type="text">
    </ion-item>
    <ion-item class="question-type" (click)="addQuestionType()">
      <ion-thumbnail item-start>
        <img src="https://img.icons8.com/dotty/64/multiple-choice.png">
      </ion-thumbnail>
      <h2>Multi Select</h2>
    </ion-item>
    <ion-item class="question-type" (click)="addQuestionType()">
      <ion-thumbnail item-start>
        <img src="https://img.icons8.com/dotty/64/topic.png">
      </ion-thumbnail>
      <h2>Comment</h2>
    </ion-item>
    <ion-item class="question-type" (click)="addQuestionType()">
      <ion-thumbnail item-start>
        <img src="https://img.icons8.com/dotty/64/activity-grid-2.png">
      </ion-thumbnail>
      <h2>Grid</h2>
    </ion-item>
  </ion-list>
</div>
