.container-questions{
    overflow-y: scroll;
    .question{
        margin: 20px 10px;
    }
}
.container-questions::-webkit-scrollbar {
    display: none;
}
ion-item {
    padding : 20px;
} 
.add-question-button button{
    // position: fixed;
    // width: 100%;
    color: white;
    height: 30px;
    font-size: 20px;
    background-color: black;
    margin: 10px;
    border-radius: 5px;
    padding:  0 10px;
    
}
.close-list{
    right: 10px;
    position: fixed;
    bottom: 5px;
}
.question-type{
    h2{
        margin-left: 5px;
    }
    &:hover{
        color:red;
    }
}
.padding-5{
    padding: 5px;
}
