<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome to <img src="assets/smx-logo.svg" alt="smx_logo"> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>My Surveys</h1>
  <div class="survey-tiles">
    <ion-card [routerLink]="['/tabs']">
      <img src="assets/Retail_Square.jpg" />
      <ion-card-content class="tile-label">
        <ion-card-title><span class="s-title">
            Retail Survey
          </span></ion-card-title>
        <p>
          NPX SURVEY 1
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card [routerLink]="['/tabs']">
      <img src="assets/Manufacturing_Square.jpg" />
      <ion-card-content class="tile-label">
        <ion-card-title><span class="s-title">
          Manufacturer Survey
          </span></ion-card-title>
        <p>
          NPX SURVEY 2
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card [routerLink]="['/tabs']">
      <img src="assets/Business_Square.jpg" />
      <ion-card-content class="tile-label">
        <ion-card-title><span class="s-title">
            Business Survey
          </span></ion-card-title>
        <p>
          NPX SURVEY 3
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card [routerLink]="['/tabs']">
      <img class="img" src="assets/Technology_Square.jpg" />
      <ion-card-content class="tile-label">
        <ion-card-title><span class="s-title">
            Technology Survey
          </span></ion-card-title>
        <p>
          NPX Survey 4
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <h1>Create new Survey</h1>
  <div class="survey-tiles">
    <ion-card [routerLink]="['/tabs']">
      <img class="img" src="assets/Communication_Square.jpg" />
      <ion-card-content class="tile-label">
        <ion-card-title><span class="s-title">
            Add New Survey
          </span></ion-card-title>
        <p>
          <button class="plus-btn" ion-button>+</button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>