@import "../../scss/variables";
@import "../../scss/mixins";

.survey-tiles {
    @include flex(unset, unset, row);
    @include column-count(2, false, 10px);
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    & ion-card {
        margin: 10px;
        .tile-label{
            text-align: center;
        }
    }
}

.s-title {
    font-size: 16px;
    font-family: var(--page-font);
    p{
        font-size: 14px;
        .tile-label{
            text-align: center;
        }
    }
}
.plus-btn{
    font-size: 35px;
}