<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome to <img src="assets/smx-logo.svg" alt="smx_logo"> </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-tabs class="tab-position">

  <ion-tab-bar slot="top">
    <ion-tab-button tab="create-tab">
      <ion-icon name="create"></ion-icon>   
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preview-tab">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Preview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="share-tab">
      <ion-icon name="share"></ion-icon>
      <ion-label>Share</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="response-tab">
      <ion-icon name="logo-buffer"></ion-icon>
      <ion-label>Response</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>